@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;700&display=swap');


.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

canvas {
    position: relative;
    @include breakpoint-down(medium) {
        display: none;
    }
}
.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: $whiteSmoke;
    mix-blend-mode: difference;
    pointer-events: none;
    border-radius: 50%;
    left:-5px;
    top:-5px;
    z-index: 2000;
    &-follow {
        position: fixed;
        border:1px solid $whiteSmoke;
        background-color: $whiteSmoke;
        mix-blend-mode: difference;
        width: 45px;
        height: 45px;
        left:-22px;
        top:-22px;
        border-radius: 100rem;
        pointer-events: none;
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-view {
        opacity: 0;
        color: $yellow;
    }
}

.button {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1px solid $black;
    padding: 16px 32px;
    font-size: 2.4rem;
    text-align: center;
    margin:0 auto;

    &__filler {
            background: $black;
            position: absolute;
            width: 150%;
            height: 200%;
            border-radius: 50%;
            top: -50%;
            left: -25%;
            transform: translate3d(0,75%,0);
            z-index: -1
    }

    &-hover .button__text-inner{
        color: $yellow;
    }
}
.button__text, .button__text-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.loading {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    right: 0;
    background-color: $black;
    color: $whiteSmoke;
    z-index: 99;
    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 50vh 0 3rem 0;
    }
    &-line {
        display: inline-block;
        width: 70%;
        height: 2px;
        background-color: $whiteSmoke;
    }
    &-logo {
        display: inline-block;
        margin-top: auto;
        text-align: center;
        > div:first-child {
            font-size: 1.8rem;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
    &-percent {
        display: inline-block;
        font-size: 4.5rem;
        font-style: italic;
    }
}
.pd20 {
    padding-bottom: 20px !important;
}
.pd0 {
    padding: unset !important;
}
.mt {
    margin-top: 15rem;

    @include breakpoint-down(small) {
        margin-top: 10rem;
    }
}
.mr-auto {
    margin-left: auto;
}
.rto-box {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 66.5%;

    > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        object-fit: cover;
    }
}
.button-type {
    display: flex;
    align-items: center;

    > div {
        border: 1px solid #A5A5A5;
        font-size: 1.8rem;
        line-height: 130%;
        border-radius: 75px;
        padding: 8px 16px;
        color: #A5A5A5;
        @include breakpoint-down(small) {
            font-size: 1.4rem;
        }
        &:nth-child(1){
            margin-right: 1.6rem;
        }
    }
}
.wrap-parallax {
    position: relative;
    overflow: hidden;
}
.image-parallax {
    position: absolute;
    width: 100%;
    height: 200%;
    object-fit: cover;
}
// .heading-1 {
//     font-size: 9.6rem;
// }
// .heading-2 {
//     font-size: 7.2rem;
//     line-height: 130%;
// }
// .heading-3 {
//     font-size: 6.4rem;
//     line-height: 140%;
// }
// .heading-4 {
//     font-size: 4.8rem;
//     line-height: 140%;
// }
// .heading-5 {
//     font-size: 3.6rem;
//     line-height: 140%;
// }
// .heading-6 {
//     font-size: 2.4rem;
// }
// .body {
//     font-size: 2.4rem;
//     line-height: 130%;
// }
// .caption {
//     font-size: 1.8rem;
//     line-height: 130%;
// }

@include breakpoint-down(medium){
    .cursor,
    .cursor-follow {
        display: none;
    }
}

// @media screen and (min-width: 768px) and (max-width: 1600px){
//     .heading-1 {
//         font-size: 5vw;
//     }
//     .heading-2 {
//         font-size: 3.75vw;
//     }
//     .heading-4 {
//         font-size: 2.5vw;
//     }
//     .heading-5 {
//         font-size: 1.875vw;
//     }
// }

// @include breakpoint-down(medium) {
//     .heading-1 {
//         font-size: 8rem;
//     }
//     .heading-2 {
//         font-size: 4rem;
//     }
// }