@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  cursor: none;
}

body {
  visibility: hidden;
  overflow-x: hidden;
  background-color: #F7F7F7;
  line-height: 1;
  font-family: "Saira", sans-serif;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
}

textarea:focus,
input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

a,
a:focus,
a:active a:visited {
  text-decoration: none;
  color: inherit;
  cursor: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

canvas {
  position: relative;
}
@media (max-width: 63.9375rem) {
  canvas {
    display: none;
  }
}

.cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #F7F7F7;
  mix-blend-mode: difference;
  pointer-events: none;
  border-radius: 50%;
  left: -5px;
  top: -5px;
  z-index: 2000;
}
.cursor-follow {
  position: fixed;
  border: 1px solid #F7F7F7;
  background-color: #F7F7F7;
  mix-blend-mode: difference;
  width: 45px;
  height: 45px;
  left: -22px;
  top: -22px;
  border-radius: 100rem;
  pointer-events: none;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor-view {
  opacity: 0;
  color: #F5A53B;
}

.button {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1px solid #000000;
  padding: 16px 32px;
  font-size: 2.4rem;
  text-align: center;
  margin: 0 auto;
}
.button__filler {
  background: #000000;
  position: absolute;
  width: 150%;
  height: 200%;
  border-radius: 50%;
  top: -50%;
  left: -25%;
  transform: translate3d(0, 75%, 0);
  z-index: -1;
}
.button-hover .button__text-inner {
  color: #F5A53B;
}

.button__text, .button__text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loading {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  right: 0;
  background-color: #000000;
  color: #F7F7F7;
  z-index: 99;
}
.loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 50vh 0 3rem 0;
}
.loading-line {
  display: inline-block;
  width: 70%;
  height: 2px;
  background-color: #F7F7F7;
}
.loading-logo {
  display: inline-block;
  margin-top: auto;
  text-align: center;
}
.loading-logo > div:first-child {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.loading-percent {
  display: inline-block;
  font-size: 4.5rem;
  font-style: italic;
}

@media (max-width: 63.9375rem) {
  .cursor,
.cursor-follow {
    display: none;
  }
}
.header {
  position: fixed;
  top: 53px;
  right: 0;
  left: 0;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 99;
}
@media (max-width: 63.9375rem) {
  .header {
    top: 24px;
  }
}
@media (max-width: 39.9375rem) {
  .header {
    top: 14px;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: 39.9375rem) {
  .logo > img {
    max-width: 55px;
  }
}

.burger {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
.burger > span {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 2px;
  border-radius: 10px;
}
.burger > span::after {
  left: 0;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
  background-color: #F5A53B;
}
.burger > span:nth-child(1)::after {
  transition-delay: 0s;
}
.burger > span:nth-child(2)::after {
  transition-delay: 0.1s;
}
.burger > span:nth-child(3)::after {
  transition-delay: 0.2s;
}
.burger > span:nth-child(2) {
  top: 6px;
}
.burger > span:nth-child(3) {
  top: 12px;
}
.burger:hover > span::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.menu {
  position: fixed;
  height: 100%;
  top: 0;
  right: -100%;
  width: calc(100%*6/12);
  display: flex;
  transition: all 0.5s linear;
}
.menu-black {
  background-color: #000000;
  width: 55%;
  display: flex;
  justify-content: center;
}
.menu-black__wrap {
  padding: 5.9895833333vw 0 6.25vw 0;
}
.menu-black__close {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  border-radius: 100rem;
  transition: all 0.5s linear;
  z-index: 2;
}
.menu-black__close::after {
  position: absolute;
  content: "";
  background-color: #FFFFFF;
  transform: scale(0);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: transform 0.3s linear;
  border-radius: 100rem;
  z-index: -1;
}
.menu-black__close > span {
  display: block;
  background-color: #FFFFFF;
  position: absolute;
  height: 2px;
  width: 35px;
  top: 28px;
  right: 13px;
  transition: background 0.2s linear;
}
.menu-black__close > span:nth-child(1) {
  transform: rotate(45deg);
}
.menu-black__close > span:nth-child(2) {
  transform: rotate(-45deg);
}
.menu-black__close:hover::after {
  transform: scale(1);
  z-index: -1;
}
.menu-black__close:hover > span {
  background-color: #000000;
}
.menu-black__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 6.25vw);
}
.menu-black__item {
  margin-top: 3.6458333333vw;
}
.menu-black__link {
  display: inline-block;
  overflow: hidden;
  position: relative;
  line-height: 1.2;
}
.menu-black__link > span {
  display: block;
  color: #FFFFFF;
  font-size: 2.5vw;
  text-align: left;
  transition: top 0.7s cubic-bezier(0.82, 0, 0.36, 1);
}
.menu-black__link > span:nth-child(1) {
  position: relative;
  top: 0;
}
.menu-black__link > span:nth-child(2) {
  position: absolute;
  top: 60px;
}
.menu-grey {
  width: 45%;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10.15625vw 0 6.25vw 0;
}
.menu-grey__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.menu-grey__wrap > svg {
  cursor: pointer;
  margin-bottom: 20px;
}
.menu-grey__info > p {
  margin-bottom: 20px;
}
.menu-grey__info > p, .menu-grey__info a {
  font-size: 1.1911458333vw;
  color: #FFFFFF;
}
.menu-grey__social {
  margin-top: auto;
}
.menu-grey__social > a {
  font-size: 1.1911458333vw;
  color: #FFFFFF;
  display: block;
}
.menu-grey__social > a:not(:last-child) {
  margin-bottom: 20px;
}

.menu-black__link:hover > span:nth-child(1) {
  top: -60px;
}

.menu-black__link:hover > span:nth-child(2) {
  top: 0;
}

#circle,
#circle-footer {
  stroke-dasharray: 364px;
  stroke-dashoffset: 364px;
  transition: all 0.5s linear;
  transform-origin: 0px 0px 0px;
}

@media (min-width: 1920px) {
  .menu-black__wrap {
    padding: 115px 0 120px 0;
  }

  .menu-black__list {
    height: calc(100% - 120px);
  }

  .menu-black__item {
    margin-top: 80px;
  }

  .menu-grey {
    padding: 195px 0 120px 0;
  }
}
@media (max-width: 39.9375rem) {
  .menu {
    width: 100%;
  }
  .menu-grey {
    padding: 52vw 0 32vw 0;
  }
  .menu-grey__info > p, .menu-grey__info a {
    font-size: 1.4rem;
  }
  .menu-grey__social > a {
    font-size: 1.4rem;
  }
  .menu-black__wrap {
    padding: 31.0810810811vw 0 32vw 0;
  }
  .menu-black__link > span {
    font-size: 3rem;
  }
  .menu-black__list {
    height: calc(100% - 12vw);
  }
  .menu-black__item {
    margin-top: auto;
  }
}
.categories {
  margin-top: 15rem;
}
.categories-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.categories-item {
  font-size: 9.6rem;
  position: relative;
  color: #000000;
}
.categories-img {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 75vh;
  z-index: -1;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .categories-item {
    font-size: 5vw;
  }
}
@media (max-width: 63.9375rem) {
  .categories {
    height: 100vh;
    width: 100%;
    background: url("/Images/MobileBanner.jpg") no-repeat center center;
    object-fit: cover;
    background-size: 100% 100%;
    margin-top: unset;
  }
  .categories > .container {
    height: 100%;
  }
  .categories-flex {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: unset;
  }
  .categories-item {
    font-size: 8rem;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
  .categories-img {
    display: none;
  }
}
@media (max-width: 39.9375rem) {
  .categories-item {
    font-size: 4.8rem;
  }
}
.slogan {
  padding-top: 18.5rem;
}
.slogan-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slogan-text {
  font-size: 4.8rem;
  line-height: 140%;
  font-weight: 400;
  max-width: 1120px;
  width: calc(100%*8/12);
  color: #000000;
}
.slogan-animation {
  display: inline-block;
}
.slogan-orange {
  color: #F5A53B;
}
.slogan-award {
  display: flex;
  align-items: center;
}
.slogan-award__content {
  font-size: 2.4rem;
}
.slogan-award__content > h6 {
  margin-bottom: 10px;
}
.slogan-logo {
  cursor: pointer;
  margin-right: 4rem;
}
.slogan-logo > img {
  max-width: 73px;
  object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .slogan-text {
    font-size: 2.5vw;
  }
}
@media (max-width: 63.9375rem) {
  .slogan-award__content > h6 {
    font-size: 1.92rem;
  }
}
@media (max-width: 39.9375rem) {
  .slogan {
    padding-top: 2rem;
  }
  .slogan-wrap {
    flex-direction: column;
  }
  .slogan-text {
    font-size: 2rem;
    line-height: 140%;
    width: 100%;
    margin-bottom: 20px;
  }
  .slogan-award {
    width: 100%;
    justify-content: space-between;
  }
  .slogan-award__content {
    font-size: 1.4rem;
  }
  .slogan-award__content > h6 > img {
    width: 1.2rem;
  }
  .slogan-logo > img {
    max-width: 48px;
  }
}
.project {
  padding: 12.4rem 0;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 1189px;
  grid-gap: 20px 24px;
  padding-bottom: 13rem;
}
.project-title {
  padding-bottom: 50px;
  font-size: 7.2rem;
  line-height: 130%;
  font-weight: 400;
}
.project-overlay {
  top: 0;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 0%;
  transform-origin: left;
  transition: all 0.3s linear;
  background-color: #F5A53B;
  z-index: 20;
}
.project-overlay__wrap {
  padding-left: 10%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 15%);
}
.project-overlay__field {
  font-size: 2.4rem;
}
.project-overlay__bottom {
  margin-top: auto;
  font-size: 2.4rem;
}
.project-overlay__title {
  font-size: 3.6rem;
  padding-bottom: 1.6rem;
}
.project-item {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.project-item > img {
  width: 100%;
  height: 100%;
}
.project-layer {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  z-index: 2;
}
.project-item:hover .project-overlay {
  width: 50%;
  opacity: 1;
  transition: all 0.3s linear;
}
.project-item:nth-child(1) {
  position: relative;
  grid-column: 1/9;
  grid-row: 1/3;
}
.project-item:nth-child(2) {
  grid-column: 9/13;
  grid-row: 1/2;
}
.project-item:nth-child(3) {
  grid-column: 9/13;
  grid-row: 2/3;
}
.project-item:nth-child(4) {
  grid-column: 1/5;
}
.project-item:nth-child(5) {
  grid-column: 5/9;
}
.project-item:nth-child(6) {
  grid-column: 9/13;
}
.project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-small {
  font-size: 3.2rem;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .project-title {
    font-size: 3.75vw;
  }
}
@media (max-width: 63.9375rem) {
  .project-grid {
    height: 950px;
    padding-bottom: 60px;
  }

  .project-overlay__wrap {
    padding-top: 25px;
    padding-left: 25px;
  }
  .project-overlay__title {
    font-size: 2.5rem;
  }
  .project-overlay__field, .project-overlay__bottom {
    font-size: 2rem;
  }

  .project-item:nth-child(1) {
    grid-column: 1/13;
    grid-row: 1;
  }
  .project-item:nth-child(4) {
    grid-column: 1/13;
    grid-row: 2;
  }
  .project-item:nth-child(6) {
    grid-column: 1/13;
    grid-row: 3;
  }
  .project-item:nth-child(2), .project-item:nth-child(3), .project-item:nth-child(5) {
    display: none;
  }
}
@media (max-width: 39.9375rem) {
  .project {
    padding: 40px 0;
  }
  .project-title {
    font-size: 3.6rem;
    line-height: 120%;
    padding-bottom: 25px;
  }
  .project-grid {
    height: 495px;
    padding-bottom: 30px;
  }
  .project-item:nth-child(1) {
    grid-column: 1/13;
    grid-row: 1;
  }
  .project-item:nth-child(4) {
    grid-column: 1/13;
    grid-row: 2;
  }
  .project-item:nth-child(6) {
    grid-column: 1/13;
    grid-row: 3;
  }
  .project-item:nth-child(2), .project-item:nth-child(3), .project-item:nth-child(5) {
    display: none;
  }
  .project-button {
    display: block;
  }
  .project-button > .button {
    font-size: 13.57px;
  }
  .project-overlay__wrap {
    padding-top: 10px;
    padding-left: 10px;
  }
  .project-overlay__title {
    font-size: 1.8rem;
  }
  .project-overlay__field, .project-overlay__bottom {
    font-size: 1.3rem;
  }
}
.services {
  padding: 16.8rem 0;
}
.services-flex {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.services-title {
  font-size: 9.6rem;
  line-height: 0.55;
  color: #000000;
}
.services-list {
  display: flex;
  justify-content: space-between;
  width: calc(100%*8/12);
}
.services-item {
  width: calc(100%/3);
}
.services-item:not(:last-child) {
  margin-right: 3.9583333333vw;
}
.services-item__heading {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
.services-item__heading:hover .services-item__arrow::after {
  transform: scale(0.9);
}
.services-item__title {
  font-size: 7.2rem;
  color: #000000;
}
.services-item__arrow {
  width: 7.73rem;
  height: 7.73rem;
  opacity: 0;
  position: relative;
}
.services-item__arrow::after {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  top: 0;
  right: 0;
  transform: scale(0);
  transition: transform 0.3s linear;
  z-index: -1;
}
.services-item__arrow > img {
  width: 100%;
  height: 100%;
}
.services-item__desc {
  max-width: 276px;
  font-size: 1.8rem;
  line-height: 130%;
  color: #000000;
}
.services-quote {
  padding-top: 30rem;
  position: relative;
}
.services-quote > span {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-size: 9.6rem;
  line-height: 1.2;
  letter-spacing: -0.05vw;
}
.services-quote > span::after {
  left: 0;
  top: 89%;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.4s;
  background-color: #FFFFFF;
}
.services-quote > span:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
.services-symbol {
  position: absolute;
  display: inline-block;
  top: 20%;
  right: 0;
  width: 37.5vw;
  height: 37.5vw;
  border-radius: 50%;
  background-color: #000000;
  transition: background 0.1s linear;
}
.services-symbol.active {
  background-color: #FFFFFF;
  mix-blend-mode: difference;
  z-index: 2;
}
.services-content {
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-40%, -40%);
  color: #FFFFFF;
  font-size: 1.8rem;
  transition: opacity 0.2s linear;
  overflow: hidden;
}
.services-content > span {
  display: inline-block;
  transform: translateY(50%);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.services-content.active {
  opacity: 1;
  color: #000000;
}
.services-content.active > span {
  transform: translateY(0%);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .services-quote > span,
.services-title,
.insights-title,
.clients-title {
    font-size: 5vw;
  }

  .services-item__title {
    font-size: 3.75vw;
  }

  .service-item__desc {
    font-size: 0.9375vw;
  }

  .services-title {
    line-height: 1;
  }
}
@media (min-width: 1920px) {
  .services-symbol {
    width: 72rem;
    height: 72rem;
  }
}
@media (max-width: 87.4375rem) {
  .services-item__arrow {
    width: 5.75rem;
    height: 5.75rem;
  }
}
@media (max-width: 63.9375rem) {
  .services-title {
    margin-bottom: 55px;
  }
  .services-flex {
    flex-direction: column;
  }
  .services-list {
    width: 100%;
  }
  .services-symbol {
    display: none;
  }
}
@media (max-width: 39.9375rem) {
  .services {
    padding: 40px 0 83px 0;
  }
  .services-flex, .services-list {
    flex-direction: column;
    width: 100%;
  }
  .services-title {
    line-height: 120%;
    font-size: 3.6rem;
  }
  .services-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  .services-item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 80px;
  }
  .services-item__title {
    font-size: 2.4rem;
  }
  .services-item__arrow {
    display: none;
  }
  .services-item__desc {
    font-size: 1.4rem;
  }
  .services-item__heading {
    padding-bottom: unset;
    margin-right: 20px;
  }
  .services-item__heading > span {
    width: 100px;
  }
  .services-heading {
    margin-right: 20px;
  }
  .services-quote {
    padding-top: 80px;
  }
  .services-quote > span {
    font-size: 4.5rem;
  }
}
.clients {
  padding-top: 13rem;
  padding-bottom: 18.7rem;
}
.clients-title {
  font-size: 9.6rem;
  padding-bottom: 10rem;
  color: #000000;
}
.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients-list__heading {
  font-size: 2.4rem;
  color: #000000;
}
.clients-list__icon {
  display: flex;
  justify-content: space-between;
  width: calc(100%*9/12);
}

.line {
  margin-top: 40px;
  margin-bottom: 111px;
  width: 0%;
  height: 2px;
  background-color: #000000;
}

.reviews {
  padding-top: 10rem;
}
.reviews-flex {
  display: flex;
  justify-content: space-between;
}
.reviews-info {
  width: calc(100%*6/12);
}
.reviews-personal {
  display: flex;
  height: 60%;
  padding-bottom: 4.8rem;
}
.reviews-personal > img {
  width: 6.2rem;
  height: 6.2rem;
  object-fit: cover;
  margin-right: 3rem;
}
.reviews-personal__text {
  flex-direction: column;
  display: flex;
  height: 100%;
}
.reviews-personal__text > p {
  font-size: 2.4rem;
}
.reviews-personal__text > p:nth-child(1) {
  padding-bottom: 10px;
}
.reviews-personal__text > p:nth-child(2) {
  padding-bottom: 21px;
}
.reviews-personal__text > ul {
  margin-top: auto;
}
.reviews-personal__text > ul > li {
  display: inline-block;
  margin-right: 10px;
}
.reviews-personal__text > ul > li > img {
  width: 14px;
}
.reviews-logo {
  display: flex;
  align-items: center;
}
.reviews-logo > img {
  margin-right: 3rem;
  object-fit: cover;
}
.reviews-logo > p {
  font-size: 2.4rem;
}
.reviews-quote {
  font-size: 3.6rem;
  width: calc(100%*6/12);
  line-height: 1.2;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .reviews-quote {
    font-size: 1.875vw;
  }
}
@media (max-width: 63.9375rem) {
  .clients {
    padding-top: 9rem;
    padding-bottom: 10rem;
  }

  .clients-list__heading {
    display: none;
  }

  .clients-list__icon {
    width: 100%;
  }

  .reviews-personal__text > p {
    font-size: 2rem;
  }
  .reviews-personal__text > p:nth-child(2) {
    padding-bottom: 20px;
  }
}
@media (max-width: 39.9375rem) {
  .clients {
    padding-top: 43px;
    padding-bottom: 58px;
  }
  .clients-title {
    font-size: 3.6rem;
    line-height: 120%;
    padding-bottom: 50px;
  }
  .clients-list {
    flex-direction: column;
    padding-bottom: 55px;
  }
  .clients-list__heading {
    display: none;
  }
  .clients-list__icon {
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  .clients-list__icon > li:nth-child(4), .clients-list__icon li:nth-child(5) {
    display: none;
  }
  .clients-list__icon > li {
    width: calc(100%/3);
  }
  .clients-list__icon > li > img {
    width: 85%;
  }

  .reviews {
    padding-top: 66px;
  }
  .reviews-flex {
    flex-direction: column;
  }
  .reviews-info {
    width: 100%;
    padding-bottom: 32px;
  }
  .reviews-personal__text > p {
    font-size: 1.4rem;
    line-height: 130%;
  }
  .reviews-personal__text > p:nth-child(1) {
    padding-bottom: unset;
  }
  .reviews-logo > p {
    font-size: 1.4rem;
    line-height: 130%;
  }
  .reviews-logo > img {
    width: 3.5rem;
    margin-right: 6rem;
  }
  .reviews-quote {
    font-size: 1.4rem;
    line-height: 130%;
    width: 100%;
  }

  .line {
    display: none;
  }
}
.insights-title {
  font-size: 9.6rem;
}
.insights-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 50px 0 130px 0;
}
.insights-item {
  width: calc(100%/3);
  height: 383px;
  position: relative;
  overflow: hidden;
}
.insights-item > img {
  width: 100%;
  height: 100%;
}
.insights-item:not(:last-child) {
  margin-right: 24px;
}
.insights-item:hover .project-overlay {
  width: 50%;
  opacity: 1;
  transition: all 0.3s linear;
}
.insights-layer {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  z-index: 2;
}

@media (max-width: 63.9375rem) {
  .insights-item {
    height: 285px;
  }
  .insights-item:hover .project-overlay {
    width: 100%;
  }
}
@media (max-width: 39.9375rem) {
  .insights-title {
    font-size: 3.6rem;
    line-height: 120%;
  }
  .insights-list {
    padding: 45px 0;
    flex-direction: column;
  }
  .insights-item {
    width: 100%;
    height: 150px;
  }
  .insights-item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 25px;
  }
}
.footer {
  height: 100vh;
  background-color: #F5A53B;
}
.footer > .container {
  height: 100%;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer-outter {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 115px 0 72px 0;
}
.footer-heading {
  display: flex;
  justify-content: space-between;
}
.footer-heading > svg {
  width: 201px;
  height: 201px;
}
.footer-heading__text {
  max-width: 1053px;
  font-size: 11rem;
  line-height: 120%;
}
.footer-heading__text > span {
  display: inline-block;
}
.footer-bottom {
  margin-top: auto;
}
.footer-body {
  display: flex;
  padding-bottom: 75px;
  justify-content: space-between;
}
.footer-contact {
  font-size: 2.4rem;
}
.footer-gmail {
  padding-bottom: 13px;
}
.footer-times {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  font-size: 1.8rem;
}
.footer-usa > div:first-child {
  padding-bottom: 13px;
}
.footer-end {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
}
.footer-social, .footer-private {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
.footer-form {
  display: flex;
  opacity: 0;
  height: 0;
  overflow: hidden;
  align-items: center;
  transition: all 0.3s linear;
}
.footer-form > svg {
  width: 89px;
  height: 89px;
}
.footer-form.active {
  padding-top: 74px;
  height: 5rem;
  opacity: 1;
  overflow: unset;
}
.footer input {
  margin-right: 32px;
  width: calc(100% - 39px);
  padding: 25px 0 20px 39px;
  outline: none;
  border-radius: 55px;
  border: 2.05px solid #000000;
  background-color: transparent;
}
.footer input::placeholder {
  font-size: 2.4rem;
  color: #000000;
  font-family: "Saira", sans-serif;
}

.hover-footer {
  cursor: none;
}

@media (min-width: 768px) and (max-width: 1600px) {
  .footer-heading__text {
    font-size: 5.7291666667vw;
  }

  .footer-contact,
.footer-end {
    font-size: 1.25vw;
  }

  .footer-times {
    font-size: 0.9375vw;
  }

  .footer-heading > svg {
    width: 10.4166666667vw;
    height: 10.4166666667vw;
  }
}
@media (max-width: 63.9375rem) {
  .footer-outter {
    padding: 85px 0 65px 0;
  }
  .footer-heading {
    flex-direction: column;
  }
  .footer-heading__text {
    font-size: 7rem;
  }
  .footer-heading > svg {
    margin-top: 36px;
    width: 110px;
    height: 110px;
  }
  .footer-contact, .footer-end, .footer-times {
    font-size: 1.6rem;
  }
  .footer-times {
    width: 35%;
  }
  .footer-private, .footer-social {
    width: 30%;
  }
}
@media (max-width: 39.9375rem) {
  .footer-outter {
    padding: 63px 0 40px 0;
  }
  .footer-heading__text {
    font-size: 3.6rem;
    line-height: 120%;
  }
  .footer-heading > svg {
    width: 96px;
    height: 96px;
  }
  .footer-body {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .footer-times {
    width: 90%;
    font-size: 1.4rem;
  }
  .footer-contact {
    padding-bottom: 22px;
  }
  .footer-end {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-private {
    order: 1;
    width: 100%;
    display: block;
    margin-bottom: 22px;
  }
  .footer-policy {
    margin-bottom: 5px;
  }
  .footer-social {
    order: 2;
    margin-bottom: 22px;
    width: 90%;
  }
  .footer-sub {
    order: 3;
  }
  .footer-form.active {
    padding-top: 30px;
  }
  .footer-form input::placeholder {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */